nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:8px;
    text-decoration: none;
    color: black;
}

nav a.active {
  /*  background-color: rgba(0,0,0,0.1);*/
    color: black;
}
nav a:hover {
    background-color: rgba(0,0,0,0.3);
    color: black;
}

/*for the home page*/
.row{
    display: flex;
}
.column{
    flex:50%;
}

/*
nav{
    background-color: #ffffff;
    overflow: hidden;
}

nav a{
    color: #000;
    text-align:  center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17 px;
    display: inline-block;
    
}

nav ul{
    display: inline-block;
    list-style-type:
}
*/